@use '../Typography';

@function rem($amount) {
  @return calc(var(--ikki--font--size) * $amount);
}

.typography-text {
  @include Typography.settings;

  &--body {
    font-weight: var(--ikki--font--weight-regular);
  }

  &--body-head {
    font-weight: var(--ikki--font--weight-medium);
  }

  &--caption {
    font-size: rem(0.875); // Figma: 14px
    line-height: 1.71; // Figma: 24px
  }

  &--caption-head {
    font-weight: var(--ikki--font--weight-medium);
    font-size: rem(0.875); // Figma: 14px
    line-height: 1.71; // Figma: 24px
  }

  &--link {
    font-weight: var(--ikki--font--weight-medium);
    line-height: 1.75; // Figma: 28px
    text-decoration: underline;
  }

  &--list {
    line-height: 1.3125; // Figma: 21px
  }
}
